.index-1 {
	background-color: #fae9b2;
	background-image: url('/images/index-1-dots.png');
	background-position: 1% 95%;
	background-repeat: no-repeat;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100px;
		border-radius: 50%;
		background-color: #fae9b2;
		top: 100%;
		left: 0%;
		transform: translate(0, -50px);
	}
	.block-text {
		h2 {
			font-size: calc(16px + 1vw);
			font-weight: 600;
			background-color: map-get($color, main);
			border-radius: 50px;
			padding: 10px 25px;
			display: inline-block;
		}
		h1 {
			margin-top: 20px;
			font-size: calc(20px + 2vw);
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			color: map-get($color, black);
		}
		p {
			margin-top: 10px;
			font-size: 1.7rem;
			b {
				color: red;
			}
		}
	}
	.block-img {
		animation: UpdownMoving 2s infinite alternate;
		@media (max-width: 1024.98px) {
			padding: 30px;
			img {
				width: 380px;
			}
		}
	}
	@media (max-width: 1199.98px) {
		background-size: 100px;
	}
	@media (max-width: 767.98px) {
		background-size: 50px;
	}
}

.index-2 {
	position: relative;
	padding-top: 150px;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100px;
		border-radius: 50%;
		background-color: #f7f9fe;
		top: 100%;
		left: 0%;
		transform: translate(0, -50px);
		z-index: 5;
		@media (max-width: 1199.98px) {
			height: 70px;
			transform: translate(0, -35px);
		}
		@media (max-width: 767.98px) {
			content: none;
		}
	}
	.block-text {
		h2 {
			font-size: 4rem;
			color: map-get($color, main);
		}
		p {
			text-align: justify;
			font-size: 1.7rem;
			+ p,
			+ ul {
				margin-top: 20px;
			}
		}
	}
	.block-img {
		@media (max-width: 1024.98px) {
			img {
				width: 380px;
			}
		}
	}
	@media (max-width: 1199.98px) {
		padding-top: 130px;
	}
	@media (max-width: 1024.98px) {
		.block-text {
			margin-top: 30px;
			background-color: map-get($color, white);
			padding: 50px;
			border-radius: 10px;
			box-shadow: 0 0 6px rgba(map-get($color, black), 0.2);
		}
	}
	@media (max-width: 767.98px) {
		padding-top: 110px;
		.block-text {
			background-color: map-get($color, white);
			padding: 25px;
		}
	}
}

.index-3 {
	@extend .index-2;
	padding-top: 70px;
	&:before {
		content: none;
	}
	background-color: #fae9b2;
	background-image: url('/images/index-1-bg-3.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100%;
	// .block-img {
	// 	animation: UpdownMoving 2s infinite alternate;
	// }
	@media (max-width: 1199.98px) {
		background-size: 120%;
	}
	@media (max-width: 1024.98px) {
		.block-img {
			padding: 30px;
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
		.col-lg-6 {
			order: 1;
		}
		.col-lg-1 {
			order: 2;
		}
		.col-lg-5 {
			order: 3;
		}
	}
	@media (max-width: 767.98px) {
		background-size: 150%;
	}
}

.index-4 {
	background-color: map-get($color, main);
	background-image: url('/images/index-1-bg-2.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	min-height: auto;
	// position: relative;
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100px;
	// 	border-radius: 50%;
	// 	background-color: #323232;
	// 	top: 100%;
	// 	left: 0%;
	// 	transform: translate(0, -50px);
	// }
	@media (max-width: 767.98px) {
		content: none;
	}
	.section-title {
		color: map-get($color, white);
		margin-bottom: 50px;
	}
	.block-item {
		padding-top: 60px;
		padding: 60px 35px 0;
		height: 100%;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		.block-item__wrapper {
			border-radius: 30px;
			box-shadow: 0 6px 16px rgba(map-get($color, black), 0.1);
			padding: 65px 25px 35px;
			position: relative;
			background-color: map-get($color, white);
			height: 100%;
		}
		.item__icon {
			width: 90px;
			height: 90px;
			box-shadow: 0 0px 6px rgba(map-get($color, black), 0.1);
			background-color: map-get($color, white);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: 50%;
			top: -45px;
			transform: translateX(-50%);
			color: map-get($color, main);

			span.fas {
				font-size: 40px;
			}
		}
		.item__text {
			h3 {
				font-size: 2rem;
				text-transform: uppercase;
				position: relative;
				padding-bottom: 15px;
				margin-bottom: 15px;
				&:before {
					height: 1px;
					width: 120px;
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
					content: '';
					background-color: map-get($color, black);
				}
			}
			p {
				line-height: 1.5;
				font-size: 1.7rem;
			}
		}
		@media (max-width: 1199.98px) {
			padding: 60px 10px 0;
		}
		@media (max-width: 1024.98px) {
			padding-bottom: 40px;
		}
		@media (max-width: 767.98px) {
			padding: 40px 10px 40px;
		}
	}
}

.index-5 {
	background-image: url('/images/index-1-bg-4.png');
	background-repeat: no-repeat;
	background-position: 0 100%;
	background-size: 100%;
	.block-text {
		margin-top: 4.5rem;
		p {
			font-size: 1.7rem;
		}
	}
	@media (max-width: 1024.98px) {
		.block-img {
			padding: 30px;
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
