.index-1 {
	background-color: map-get($color, white);
	.block-text {
		h2 {
			font-size: 3.5rem;
			font-weight: 500;
		}
		h1 {
			margin-top: 20px;
			font-size: 6rem;
			line-height: 1.2;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}

.index-2 {
	.block-text {
		h2 {
			font-size: 4rem;
			line-height: 1.3;
			margin-bottom: 25px;
		}
		p {
			text-align: justify;
			+ p,
			+ ul {
				margin-top: 20px;
			}
		}
	}
}

.index-3 {
	@extend .index-2;
	background-color: map-get($color, main);
}
.index-4 {
	.block-text {
		margin-top: 4.5rem;
		p {
			font-size: 2rem;
		}
	}
}
.index-5 {
	background-color: map-get($color, white);
	min-height: auto;
	.block-img {
		margin-bottom: 20px;
		-ms-flex: 0 0 (100% / 6);
		flex: 0 0 (100% / 6);
		max-width: (100% / 6);
		padding: 0 10px;
		a {
			box-shadow: 0 0 8px rgba(black, 0.1);
			display: block;
			padding: 15px;
			height: 100%;
			background-color: map-get($color, white);
		}
		@media (max-width: 1439.98px) {
			-ms-flex: 0 0 (100% / 5);
			flex: 0 0 (100% / 5);
			max-width: (100% / 5);
		}
		@media (max-width: 1199.98px) {
			-ms-flex: 0 0 (100% / 4);
			flex: 0 0 (100% / 4);
			max-width: (100% / 4);
		}
	}
}
