.index-1 {
	background-color: map-get($color, white);
	.block-text {
		h2 {
			font-size: 3.5rem;
			font-weight: 600;
		}
		h1 {
			margin-top: 20px;
			font-size: 6rem;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			color: map-get($color, main);
		}
	}
}

.index-2 {
	.block-text {
		h2 {
			font-size: 4rem;
			color: map-get($color, main);
		}
		p {
			text-align: justify;
			+ p,
			+ ul {
				margin-top: 20px;
			}
		}
	}
}

.index-3 {
	@extend .index-2;
	background-color: map-get($color, white);
}

.index-4 {
	background-color: map-get($color, main);
	min-height: auto;
	.section-title {
		color: map-get($color, black);
		margin-bottom: 50px;
	}
	.block-item {
		padding-top: 60px;
		padding: 60px 35px 0;
		height: 100%;
		.block-item__wrapper {
			border-radius: 30px;
			box-shadow: 0 6px 16px rgba(map-get($color, black), 0.1);
			padding: 65px 25px 35px;
			position: relative;
			background-color: map-get($color, white);
			height: 100%;
		}
		.item__icon {
			width: 90px;
			height: 90px;
			box-shadow: 0 0px 6px rgba(map-get($color, black), 0.1);
			background-color: map-get($color, white);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: 50%;
			top: -45px;
			transform: translateX(-50%);
			color: map-get($color, main);

			span.fas {
				font-size: 40px;
			}
		}
		.item__text {
			h3 {
				font-size: 2rem;
				text-transform: uppercase;
				position: relative;
				padding-bottom: 15px;
				margin-bottom: 15px;
				&:before {
					height: 1px;
					width: 120px;
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
					content: '';
					background-color: map-get($color, black);
				}
			}
			p {
				line-height: 1.5;
			}
		}
		@media (max-width: 1199.98px) {
			padding: 60px 10px 0;
		}
		@media (max-width: 1024.98px) {
			padding-bottom: 40px;
		}
		@media (max-width: 767.98px) {
			padding: 40px 10px 40px;
		}
	}
}

.index-5 {
	.block-text {
		margin-top: 4.5rem;
		p {
			font-size: 2rem;
		}
	}
}
