.index-1 {
	background-color: map-get($color, white);
	.block-text {
		h2 {
			font-size: 3.5rem;
			font-weight: 500;
		}
		h1 {
			margin-top: 20px;
			font-size: 6rem;
			line-height: 1.2;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}

.index-2 {
	.block-text {
		h2 {
			font-size: 4rem;
			line-height: 1.3;
			margin-bottom: 25px;
		}
		p {
			text-align: justify;
			+ p,
			+ ul {
				margin-top: 20px;
			}
		}
	}
}

.index-3 {
	@extend .index-2;
	background-color: map-get($color, main);
}