.what-we-do-1 {
	.section-title {
		color: #f38a67;
	}
	.grid-container {
		display: flex;
		flex-wrap: wrap;
		.item {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			.text {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background-color: rgba(map-get($color, black), 0.8);
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
				padding: 15px;
				p {
					font-size: 2.2rem;
					font-weight: 500;
					color: map-get($color, white);
				}
			}
			.img {
				width: 100%;
				height: 100%;
				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
			&:hover {
				.text {
					opacity: 1;
				}
			}
			&:nth-child(n + 1) {
				-ms-flex: 0 0 calc(32400% / 1148);
				flex: 0 0 calc(32400% / 1148);
				max-width: calc(32400% / 1148);
			}
			&:nth-child(n + 2) {
				-ms-flex: 0 0 calc(18400% / 1148);
				flex: 0 0 calc(18400% / 1148);
				max-width: calc(18400% / 1148);
			}
			&:nth-child(n + 3) {
				-ms-flex: 0 0 calc(18000% / 1148);
				flex: 0 0 calc(18000% / 1148);
				max-width: calc(18000% / 1148);
			}
			&:nth-child(n + 4) {
				-ms-flex: 0 0 calc(23000% / 1148);
				flex: 0 0 calc(23000% / 1148);
				max-width: calc(23000% / 1148);
			}
			&:nth-child(n + 5) {
				-ms-flex: 0 0 calc(23000% / 1148);
				flex: 0 0 calc(23000% / 1148);
				max-width: calc(23000% / 1148);
			}
			&:nth-child(n + 6) {
				-ms-flex: 0 0 calc(17200% / 1148);
				flex: 0 0 calc(17200% / 1148);
				max-width: calc(17200% / 1148);
			}
			&:nth-child(n + 7),
			&:nth-child(n + 8) {
				-ms-flex: 0 0 calc(38800% / 1148);
				flex: 0 0 calc(38800% / 1148);
				max-width: calc(38800% / 1148);
			}
			&:nth-child(n + 9) {
				-ms-flex: 0 0 calc(20000% / 1148);
				flex: 0 0 calc(20000% / 1148);
				max-width: calc(20000% / 1148);
			}
			&:nth-child(n + 10) {
				-ms-flex: 0 0 calc(14700% / 1148);
				flex: 0 0 calc(14700% / 1148);
				max-width: calc(14700% / 1148);
			}
			&:nth-child(n + 11) {
				-ms-flex: 0 0 calc(17200% / 1148);
				flex: 0 0 calc(17200% / 1148);
				max-width: calc(17200% / 1148);
			}
			&:nth-child(n + 12) {
				-ms-flex: 0 0 calc(30800% / 1148);
				flex: 0 0 calc(30800% / 1148);
				max-width: calc(30800% / 1148);
			}
			&:nth-child(n + 13) {
				-ms-flex: 0 0 calc(17500% / 1148);
				flex: 0 0 calc(17500% / 1148);
				max-width: calc(17500% / 1148);
			}
			&:nth-child(n + 14) {
				-ms-flex: 0 0 calc(17400% / 1148);
				flex: 0 0 calc(17400% / 1148);
				max-width: calc(17400% / 1148);
			}
			&:nth-child(n + 15) {
				-ms-flex: 0 0 calc(17200% / 1148);
				flex: 0 0 calc(17200% / 1148);
				max-width: calc(17200% / 1148);
			}
		}
	}
}
.what-we-do-2 {
	.section-title {
		color: map-get($color, main);
	}
	.highlight-project {
		padding: 0 15px;
		display: block;
		.img {
			@include img(267/435);
		}
		@media (max-width: 1024.98px) {
			padding: 0 10px;
		}
	}
	.block-title {
		margin-bottom: 45px;
	}
	.highlight-project {
		padding: 0 10px;
	}
	.highlight-project-wrapper {
		.col-lg-3 {
			@media (max-width: 1024.98px) {
				margin-bottom: 30px;
			}
			@media (min-width: 1025px) {
				&:nth-child(2) {
					transform: translateY(50px);
				}
				&:nth-child(4) {
					transform: translateY(70px);
				}
			}
		}
	}
}
.what-we-do {
	.section-title.big-title {
		font-size: calc(3rem + (4000vw / 1920));
	}
	.block-title {
		margin-bottom: 35px;
		.section-title {
			margin-bottom: 5px;
		}
		p {
			font-size: 2.2rem;
		}
	}
}
