.what-we-do-1 {
	.highlight-project {
		a {
			padding: 10px;
			display: block;
			box-shadow: 0 0 10px rgba(map-get($color, black), 0.1);
			background-color: map-get($color, white);
		}
		.block-img {
			@include img(374/540, contain);
		}
	}
	.highlight-projects-top {
		margin-top: 100px;
		.col-lg-3 {
			margin-bottom: 20px;
			&:nth-child(odd) {
				transform: translateY(-30px);
			}
			&:nth-child(even) {
				transform: translateY(30px);
			}
		}
		@media (max-width: 1199.98px) {
			margin-top: 60px;
			.col-lg-3 {
				&:nth-child(odd) {
					transform: translateY(-20px);
				}
				&:nth-child(even) {
					transform: translateY(20px);
				}
			}
		}
		@media (max-width: 1024.98px) {
			.col-lg-3 {
				&:nth-child(odd) {
					transform: translateY(0);
				}
				&:nth-child(even) {
					transform: translateY(0);
				}
			}
		}
		@media (max-width: 767.98px) {
			margin-top: 30px;
		}
	}
	.highlight-projects-bottom {
		margin-top: 100px;
		.swiper-container {
			padding: 15px 0;
		}
		.swiper-pagination {
			position: relative;
			margin-top: 50px;
			.swiper-pagination-bullet {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				outline: none;
				background-color: rgba(map-get($color, black), 0.3);
				opacity: 1;
				margin: 0 8px;
				&.swiper-pagination-bullet-active {
					background-color: map-get($color, main);
				}
			}
		}
	}
}
.what-we-do-2 {
	.filter-wrapper {
		display: flex;
		flex-wrap: wrap;
		.filter-item {
			margin: 0 5px 10px;
			a {
				border: 1px solid map-get($color, main);
				display: inline-block;
				padding: 8px 10px;
				color: map-get($color, black);
				text-decoration: none;
				border-radius: 5px;
				transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
				&.active {
					background-color: map-get($color, main);
				}
				&:hover:not(.active) {
					background-color: rgba(map-get($color, main), 0.5);
				}
			}
		}
	}
	.filter-content {
		margin-top: 20px;
		padding-top: 30px;
		border-top: 1px solid darken(map-get($color, white), 20%);
	}
	.filter-content__wrapper {
		margin: 0 -10px;
		.grid-item {
			width: 25%;
			padding: 10px;
			.project-item__img {
				img {
					width: 100%;
				}
			}
		}
	}
}
