.blur-up {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: filter 400ms, -webkit-filter 400ms;
	&.lazyloaded {
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}

.w-100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}
.pt-70 {
	padding-top: 70px;
	@media (max-width: 1199.98px) {
		padding-top: 50px;
	}
	@media (max-width: 767.98px) {
		padding-top: 30px;
	}
}
.pb-70 {
	padding-bottom: 70px;
	@media (max-width: 1199.98px) {
		padding-bottom: 50px;
	}
	@media (max-width: 767.98px) {
		padding-bottom: 30px;
	}
}
.pd-70 {
	padding-top: 70px;
	padding-bottom: 70px;
	@media (max-width: 1199.98px) {
		padding-topom: 50px;
		padding-bottom: 50px;
	}
	@media (max-width: 767.98px) {
		padding-topom: 30px;
		padding-bottom: 30px;
	}
}

.jc-c {
	justify-content: center;
}
.ai-c {
	align-items: center;
}
.as-fs {
	align-self: flex-start;
}
.ta-c {
	text-align: center;
}
.ta-r {
	text-align: right;
}
.ta-l {
	text-align: left;
}
.ta-j {
	text-align: justify;
}
.tal-c {
	text-align-last: center;
}
.tt-u {
	text-transform: uppercase;
}
.fs-i {
	font-style: italic;
}
