section.page-section.pd-70.what-we-do.what-we-do-1
	.container
		.block-title
			h2.section-title.big-title.tt-u Our  
				br
				| Celebraties
			p W M&E manages celebrities’s commercial works.
		.grid-container
			-for(let i = 58; i <= 72; i++)
				a.item(href="#")
					.img 
						img.lazyload.blur-up(data-src="/images/celebs/img_"+i+".png")
					.text
						p Tên Celeb