section.page-section.pd-70.what-we-do-1
	.container 
		h2.section-title.underline.underline-center.ta-c.tt-u Highlights Projects
		.row
			.col-lg-3
				.highlight-project
					a(href="" target="_blank")
						.block-img
							img.lazyload.blur-up(data-src="./images/projects/di_ve_nha.jpg") 
			.col-lg-3
				.highlight-project
					a(href="" target="_blank")
						.block-img
							img.lazyload.blur-up(data-src="./images/projects/em_la_chau_bau.jpg") 
			.col-lg-3
				.highlight-project
					a(href="" target="_blank")
						.block-img
							img.lazyload.blur-up(data-src="./images/projects/em_be.jpg") 
			.col-lg-3
				.highlight-project
					a(href="" target="_blank")
						.block-img
							img.lazyload.blur-up(data-src="./images/projects/dan_ong_khong_noi.jpg") 