section.page-section.what-we-do.what-we-do-2
	.pd-70
		.container
			.block-title
				h2.section-title.big-title.tt-u Highlight projects
					br
					| we have done
			.row.highlight-project-wrapper
				.col-lg-3.col-6
					a.item.highlight-project(href="#")
						.img
							img(src="/images/projects/di_ve_nha.jpg" alt="") 
				.col-lg-3.col-6
					a.item.highlight-project(href="#")
						.img
							img(src="/images/projects/em_la_chau_bau.jpg" alt="") 
				.col-lg-3.col-6
					a.item.highlight-project(href="#")
						.img
							img(src="/images/projects/em_be.jpg" alt="") 
				.col-lg-3.col-6
					a.item.highlight-project(href="#")
						.img
							img(src="/images/projects/dan_ong_khong_noi.jpg" alt="") 
	.pd-70
		.container
			.row
				.what-we-do-2-item
					a(href="#")
						img(src="/images/projects/img_31.png" alt="") 
				.what-we-do-2-item
					a(href="#")
						img(src="/images/projects/img_32.png" alt="") 
				.what-we-do-2-item
					a(href="#")
						img(src="/images/projects/img_33.png" alt="") 