section.page-section.pb-70.what-we-do-2
	.container 
		h2.section-title.underline.underline-center.ta-c.tt-u Things we have made 
		.row
			.col-12
				.filter-wrapper
					.filter-item
						a.filter-link.active(href="/api/advertising-music-production.html") Advertising Music production & distribute
					.filter-item 
						a.filter-link(href="/api/booking-social-creative.html") Talents booking & social creative
					.filter-item 
						a.filter-link(href="/api/music-video-production.html") Product placement in MV
					.filter-item 
						a.filter-link(href="/api/product-placement-in-mv.html") Advertising Music production
					.filter-item 
						a.filter-link(href="/api/production-distribute.html") Viral music campaign
					.filter-item 
						a.filter-link(href="/api/viral-music-campaign.html") Music video production
				.filter-content
					.filter-content__wrapper.js-mansonry
						.project-item.grid-item
							a.project-item__link(href="")
								.project-item__img 
									img(src="./images/projects/em_be.jpg")
						.project-item.grid-item
							a.project-item__link(href="")
								.project-item__img 
									img(src="./images/projects/di_ve_nha.jpg")
						.project-item.grid-item
							a.project-item__link(href="")
								.project-item__img 
									img(src="./images/projects/em_la_chau_bau.jpg")
						.project-item.grid-item
							a.project-item__link(href="")
								.project-item__img 
									img(src="./images/projects/dan_ong_khong_noi.jpg")
						-for(let i = 1; i < 17; i++)
							.project-item.grid-item
								a.project-item__link(href="")
									.project-item__img 
										img(src="./images/projects/"+i+".jpg")