section.page-section.what-we-do.what-we-do-3.pt-70
	.container
		.block-title
			h2.section-title.big-title.tt-u Things
				br
				| we have made
			h3.section-title.sub-title ADVERTISING MUSIC
				br
				| PRODUCTION & DISTRIBUTION
		.row 
			.col-sm-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_34.jpg", alt="")
						.project-info 
							h3 Đi để trở về 3
							p Soobin ft. DaLAB
							h4 Bitis' Hunter
			.col-sm-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_35.jpg", alt="")
						.project-info 
							h3 Sinh Nhật Bất Tận
							p Bùi Công Nam ft.
								br
								| Ninh Dương Lan Ngọc
							h4 Sendo 8 tuổi
			.col-sm-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_36.jpg", alt="")
						.project-info 
							h3 AMEE - Em bé
							p Soobin ft. DaLAB
							h4 Baemin
			.col-sm-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_37.jpg", alt="")
						.project-info 
							h3 Bao giờ đủ lớn
							p Bùi Công Nam ft.
								br
								| Ninh Dương Lan Ngọc
							h4 Honda