section.page-section.pd-70.what-we-do-3
	.container 
		h2.section-title.underline.underline-center.ta-c.tt-u Brandings on TikTok
		.row.ai-c.jc-c 
			.col-md-11.col-lg-10
				article.row.pt-70.ai-c.what-we-do-3-article
					.col-lg-4
						.block-img 
							img.lazyload.blur-up(data-src="./images/brandings/grabfood.png")
					.col-lg-1
					.col-lg-7
						.block-text
							p GrabFood
							ul 
								li 330.000 engagement Facebook 
								li 13.000.000 views TikTok 
								li 700.000 view YouTube
								li 7.000.000 view Facebook
							p W Media & Entertainment collaborate with TikTok: 
							a(href="#") Detail information 
								span.fal.fa-chevron-right
				article.row.pt-70.ai-c.what-we-do-3-article
					.col-lg-4
						.block-img 
							img.lazyload.blur-up(data-src="./images/brandings/fami.png")
					.col-lg-1
					.col-lg-7
						.block-text
							p Fami - Nhà là nơi có Fami
							ul
								li 228.5M views on TikTok 
								li 35,082 creator joined in our campaign 
								li 39,834 video creation 
							p W Media & Entertainment collaborate with TikTok: 
							a(href="#") Detail information 
								span.fal.fa-chevron-right