section.page-section.what-we-do.what-we-do-4
	.container
		.pt-70
			.border-top
				span.line
				i * Partner with Dentsu Redder
		.pd-70
			.row 
				.col-lg-6
					.block-title
						h3.section-title.sub-title Celebrities Strategy
							br
							| & Fan Community Building
						p.section-sub-title We are behind and contribute to the success of eminent artists such as Bích Phương, Chi Pu, Min, DaLAB, JayKii, Suni Hạ Linh and Phúc Du.
				.col-lg-6
					.row
						.col-4 
							.celeb-img 
								img.lazyload.blur-up(data-src="/images/projects/img_38.jpg")
						.col-4 
							.celeb-img 
								img.lazyload.blur-up(data-src="/images/projects/img_39.jpg")
						.col-4 
							.celeb-img 
								img.lazyload.blur-up(data-src="/images/projects/img_40.jpg")
						.col-12
							.celeb-img.big-img
								img.lazyload.blur-up(data-src="/images/projects/img_41.jpg")