section.page-section.what-we-do.what-we-do-5
	.container
		.block-title
			h3.section-title.sub-title TALENTS BOOKING
				br
				| & SOCIAL CREATIVE
		.row
			.col-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_42.jpg" alt="")
						.project-info 
							h3 Campaign Tết 2019
							p LOTTE.VN x Nam Em
			.col-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_43.jpg" alt="")
						.project-info 
							h3 Campaign Tết 2019
							p Lắc Lì Xì Momo x Chí Tài
			.col-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_44.jpg" alt="")
						.project-info 
							h3 Campaign Tết 2018
							p Khai Click Đầu Năm Tiki x Bích Phương
							p
								i *Included music & video production
			.col-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_45.jpg" alt="")
						.project-info 
							h3 Campaign Q1 2017
							p Mua Sắm Săn Deal Tiki x Chi Pu 
							i *Included music & video production
			.col-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_46.jpg" alt="")
						.project-info 
							h3 PubG Mobile
							p Chi Pu x PubG Mobile
							i *Included music & video production
			.col-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_47.jpg" alt="")
						.project-info 
							h3 Biti’s Hunter Go For Love
							p Social Content
			.col-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_48.jpg" alt="")
						.project-info 
							h3 CIMB
							p Social Platform Content
			.col-6.col-lg-3
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_49.jpg" alt="")
						.project-info 
							h3 LEO Larger Beer
							p Social Content