section.page-section.what-we-do.what-we-do-6
	.container
		.pt-70
			.border-top
				span.line
				i * Partner with Dentsu Redder
		.pd-70
			.block-title
				h3.section-title.sub-title PRODUCT PLACEMENT
					br
					| IN MV
			.row
				.col-6.col-lg-4
					.project-item 
						a.project-link(href="#")
							.project-img 
								img(src="/images/projects/img_50.jpg" alt="")
							.project-info 
								h3 NMELBTYM - Da LAB
								p Vinfast & Zalo &  Bitis Hunter & Luxstay 
				.col-6.col-lg-4
					.project-item 
						a.project-link(href="#")
							.project-img 
								img(src="/images/projects/img_51.jpg" alt="")
							.project-info 
								h3 Hongkong1 - Nguyen Trong Tai
								p TikTok
				.col-6.col-lg-4
					.project-item 
						a.project-link(href="#")
							.project-img 
								img(src="/images/projects/img_52.jpg" alt="")
							.project-info 
								h3 #1 Trending - Sóng Gió
								p Jack ft K-ICM
				.col-6.col-lg-4
					.project-item 
						a.project-link(href="#")
							.project-img 
								img(src="/images/projects/img_53.jpg" alt="")
							.project-info 
								h3 MMSHVNM - Andiez
								p TikTok & Trường Sinh Quyết Tử Mobile 
				.col-6.col-lg-4
					.project-item 
						a.project-link(href="#")
							.project-img 
								img(src="/images/projects/img_54.jpg" alt="")
							.project-info 
								h3 Thích Rồi Đấy  - Suni Hạ Linh
								p Jetstar
				.col-6.col-lg-4
					.project-item 
						a.project-link(href="#")
							.project-img 
								img(src="/images/projects/img_55.jpg" alt="")
							.project-info 
								h3 Anh Nhà Ở Đâu Thế - AMEE
								p Thiện Nữ Mobile