section.page-section.what-we-do.what-we-do-7
	.container
		.block-title
			.section-img
				img.lazyload.blur-up(data-src="/images/logo-tiki.svg")
			h3.section-title.sub-title ĐI CÙNG
				br
				| SAO VIỆT CAMPAIGN
		.row
			.col-6.col-lg-4
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_73.jpg" alt="")
						.project-info 
							h3 #1 Trending - Bạc Phận 
							p Jack ft K-ICM
			.col-6.col-lg-4
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_52.jpg" alt="")
						.project-info 
							h3 #1 Trending - Sóng Gió
							p Jack ft K-ICM
			.col-6.col-lg-4
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_75.jpg" alt="")
						.project-info 
							h3 #1 Trending - Sao Em Vô Tình
							p Jack x K-ICM ft Liam
			.col-6.col-lg-4
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_76.jpg" alt="")
						.project-info 
							h3 #1 Trending - Bánh Mì Không
							p Đạt G ft. Du Uyên
			.col-6.col-lg-4
				.project-item 
					a.project-link(href="#")
						.project-img 
							img(src="/images/projects/img_77.jpg" alt="")
						.project-info 
							h3 #7 Trending - Không Sao Mà, Em Đây Rồi.
							p Suni Hạ Linh