section.page-section.index-1
	.container
		.row.jc-c.ai-c.h-100
			.col-lg-11.h-100
				.row.jc-c.ai-c.h-100
					.col-md-6
						.block-text
							h2 Hello! We are 
							h1 W media & 
								br
								| entertainment 

					.col-md-6
						.block-img
							img.lazyload(data-src="./images/index-1.svg")

