section.page-section.index-1.pd-70
	.container-fluid.index-1__banner
		.row
			.col-lg-1
			.col-lg.block-content
				h1.block-slogan Hello! We are
					br
					| W Media &
					br
					| Entertainment
				.block-description
					p Founded in 2019, W Media Entertainment pioneers and specializes in providing marketing solutions in music marketing, celeb impact marketing, social media as well as artist strategy and management.
			.col-lg.block-img
				img(src="./images/banners/1.png")
	.container.index-1__container.pd-70
		.row.jc-c
			.col-xl-11
				.row
					.col-lg-4
						.block-img
							img.lazyload.blur-up(data-src="/images/logo-2.svg")
					.col-lg-1
					.col-lg-7
						.block-content
							p W Media Entertainment's mission is to  innovate the marketing industry in Vietnam, take music and entertainment marketing to a new height, put forth an important step forward for the domestic entertainment industry.
							br
							p Within one year of its establishment, W Media Entertainment quickly earned its own unique place in marketing industry and masterminded successful campaigns for brands such as GRAB, TIKI, MOMO CIMB, FAMI and VNG.
							br
							p 
								b We “DOUBLEU".