section.page-section.pd-70.index-2
	.container
		.row.jc-c.ai-c.h-100
			.col-lg-11.h-100
				article.row.jc-c.ai-c.h-100
					.col-lg-5
						.block-img
							img.lazyload.blur-up(data-src="./images/index-2.svg")
					.col-lg-1
					.col-lg-6
						.block-text
							h2.section-title.underline W Media & 
								br
								| Entertainment 
							p was founded in May 2019 by a team of young talents, who are behind and contribute to the success of eminent artists such as Bích Phương, Chi Pu, Min, DaLAB, JayKii, Suni Hạ Linh and Phúc Du. With years of experience in marketing and entertainment, as well as a network of top artists, entertainers and influencers in various areas, W Media Entertainment pioneers and specializes in providing marketing solutions in music marketing, celeb impact marketing, social media as well as artist strategy and management. Within one year of its establishment, W Media Entertainment quickly earned its own unique place in marketing industry and masterminded successful campaigns for brands such as GRAB, TIKI, MOMO, CIMB, BAEMIN, FAMI, VNG...
							p We “DOUBLEU".



