section.page-section.pd-70.index-2#what-we-do
	.container
		.row
			.col-md-4
				h2.section-title.section-title--custom Our 
					br
					| Services
			.col-md-8
				p.section-description.section-description--custom W Media Entertainment has covered Celebrities' commercial management, Music marketing services as:
		.row.pt-70
			.col-lg-4.col-sm-6
				article.block-item.fadeInUp.wow(data-wow-delay=".7s")
					.block-item__wrapper
						.item__icon
							img.lazyload.blur-up(data-src="/images/icons/icons-musical.svg")
						.item__text
							h3 Advertising music production & distribution
			.col-lg-4.col-sm-6
				article.block-item.fadeInUp.wow(data-wow-delay=".2s")
					.block-item__wrapper
						.item__icon
							img.lazyload.blur-up(data-src="/images/icons/icons-user-groups.svg")
						.item__text
							h3 Celebrity strategy & Fan community building
			.col-lg-4.col-sm-6
				article.block-item.fadeInUp.wow(data-wow-delay=".45s")
					.block-item__wrapper
						.item__icon
							img.lazyload.blur-up(data-src="/images/icons/icons-innovation.svg")
						.item__text
							h3 Talent booking & social creative
			.col-lg-4.col-sm-6
				article.block-item.fadeInUp.wow(data-wow-delay=".3s")
					.block-item__wrapper
						.item__icon
							img.lazyload.blur-up(data-src="/images/icons/icons-prototype.svg")
						.item__text
							h3 Product placement in the music video
			.col-lg-4.col-sm-6
				article.block-item.fadeInUp.wow(data-wow-delay=".6s")
					.block-item__wrapper
						.item__icon
							img.lazyload.blur-up(data-src="/images/icons/icons-tiktok.svg")
						.item__text
							h3 Branding on TikTok