section.page-section.pd-70.index-3
	.container
		.row.jc-c.ai-c.h-100
			.col-lg-11.h-100
				article.row.jc-c.ai-c.h-100
					.col-lg-5
						.block-text
							p With its global reach, Dentsu Redder is one of the three largest and most influential creative companies in Vietnam and Indochina; providing a wide range of marketing service, from marketing strategy, brand building, creative marketing to digital marketing, PR and multimedia since July 2012. Dentsu Redder receives more than 70 international and regional awards, from AMES, Tangrams, Caples to PR Asia Awards, Asia Pacific Excellence Awards, The Smarties MMA, Youtube Ads LeaderBoard APAC. Dentsu Redder is also the market leader since 2017 in music marketing and marketing campaigns in cooperation with Sơn Tùng M-TP, Trấn Thành, Đen Vâu, Hoàng Thuỳ Linh, Phan Mạnh Quỳnh, JustaTee, Trúc Nhân, Bích Phương, Soobin Hoàng Sơn, Hà Anh Tuấn, DaLAB for iconic campaigns such as Đi Để Trở Về (Bitis), Chuyện Cũ Bỏ Qua (Mirinda), Tết Dễ Dàng (Viettel Pay), Đi Về Nhà (Honda), Đàn Ông Không Nói (Sting)...
					.col-lg-1
					.col-lg-6
						.block-img
							img.lazyload.blur-up(data-src="./images/index-3.svg")


