section.page-section.index-4
	.container
		.row.jc-c.ai-c.h-100
			.col-lg-11.h-100
				.row.jc-c.ai-c.h-100
					.col-sm-10.col-md-8.col-lg-7
						.block-img 
							img.lazyload.blur-up(data-src="./images/logo.svg")
						.block-text.ta-j.tal-c
							p Dentsu Redder and W Media Entertainment partnership is expected to  innovate the marketing industry in Vietnam, take music and entertainment marketing to a new height, put forth an important step forward for the domestic entertainment industry as well as affirm the leading position of Dentsu Redder x W.