section.page-section.pd-70.index-4
	.container
		h2.section-title.ta-c.tt-u.underline.underline-center.underline-black Missions - Visions
		.row.jc-c.ai-c
			.col-2xl-11
				.row
					.col-lg-4
						article.block-item
							.block-item__wrapper
								.item__icon
									span.fas.fa-eye
								.item__text.ta-c
									h3.ta-c Our Visions
									p To amplify positive, trendy &  creative value be becoming the 
										b NO.1 CELEBRITIES & ENTERTAINMENT AGENCY IN NEXT 12 MONTHS.
					.col-lg-4
						article.block-item
							.block-item__wrapper
								.item__icon
									span.fas.fa-bullseye
								.item__text.ta-c
									h3.ta-c Our Missions
									p To create tomorrow's positive influence & creative insightful digital  content via representing, managing & connecting the top online talents.
					.col-lg-4
						article.block-item
							.block-item__wrapper
								.item__icon
									span.fas.fa-gem
								.item__text.ta-c
									h3.ta-c Our Values
									p Young, Trend, Positivity, Integrity, Excellence.