section.page-section.pd-70.index-5
	.container
		.row.jc-c.h-100
			.col-md-3
				h2.section-title.tt-u Our Clients
			.col-md
				.row
					-for(let i = 1; i<23; i++)
						.block-img
							a(href="#")
								img.lazyload.blur-up(data-src="./images/clients/client-"+i+".svg")