extends views/_layouts/template

block var 
	- let pageTitle = "Contact"

block main
	.index-1__background.parallax.ov-h
		.parllax__img(style="background-image: url('/images/bg-1.svg')")
	include views/contact/c-1