extends views/_layouts/template

block var 
	- let pageTitle = "What we do"

block main
	.index-1__background.parallax.ov-h
		.parllax__img(style="background-image: url('/images/bg-1.svg')")
	include views/what-we-do/w-1
	include views/what-we-do/w-2
	include views/what-we-do/w-3
	include views/what-we-do/w-4
	include views/what-we-do/w-5
	include views/what-we-do/w-6
	include views/what-we-do/w-7