footer.pd-70
	.container
		.row.jc-c
			.col-xl-11
				hr
				.row.jc-sb
					.col-md-auto
						.footer-logo
							img.lazyload.blur-up(data-src="./images/logo.svg")
					.col-md
						.row.jc-fe
							.col.col-md-auto.footer-nav
								h3 Quick links
								ul
									li
										a(href="/") Home
									li
										a(href="what-we-do.html") What we do
									li
										a(href="our-works.html") Our works
									li
										a(href="contact.html") Contact us
							.col-1
							.col.col-md-auto.footer-nav
								h3 Socials
								ul
									li
										a(href="facebook.com") 
											span.fab.fa-facebook-f
											span Facebook
									li
										a(href="instagram.com") 
											span.fab.fa-instagram
											span Instagram