footer.pd-70
	.container 
		.row.jc-c
			.col-lg-5 
				.footer-address
					h2.tt-u.footer-title Our location 
					p Address: Input clients address here! 
					p Email: contact@doubleu.vn
				.footer-logo
					img.lazyload.blur-up(data-src="./images/logo.svg")
			.col-lg-1
			.col-lg-5
				form.footer-form#footer-form
					h2.tt-u.footer-title Get in touch
					.form-group
						label.form-group__label(for="fullname") Họ và tên
						input.form-control#fullname(type="text" name="Fullname")
						//- .form-group__message
						//- 	span.far.fa-exclamation-circle
						//- 	span Error nè
					.form-group
						label.form-group__label(for="phone") Số điện thoại
						input.form-control#phone(type="text" name="Phone")
						//- .form-group__message
						//- 	span.far.fa-exclamation-circle
						//- 	span Error nè
					.form-group
						label.form-group__label(for="email") Họ và tên
						input.form-control#email(type="text" name="Email")
						//- .form-group__message
						//- 	span.far.fa-exclamation-circle
						//- 	span Error nè
					.form-group
						label.form-group__label(for="fullname") Họ và tên
						input.form-control#fullname(type="text" name="Fullname")
						.form-group__message
							span.far.fa-exclamation-circle
							span Error nè
					.form-group.ta-r
						button.btn.btn__white 
							span Submit
							span.far.fa-paper-plane