header
	.header__wrapper
		.container
			.row.ai-c.no-gutters
				.header__logo
					a(href="/") 
						img(src="./images/logo-2.svg" alt="")
				.header__nav
					ul
						li
							a(href="/") Home
						li.current-menu-item
							a#scroll-to-service(href="what-we-do.html") What we do
						li
							a(href="our-works.html") Our works
				.header__contact 
					a.btn.btn--primary(href="contact.html")
						span Contact Us!
						span.fal.fa-comment-alt-edit
				.header__toggle.mobile
					.btn--toggle.js-header__toggle
						span.toggle__bar
						span.toggle__bar
.backdrop
.header__siteMenu--hidden.mobile
	.header__siteMenu--close.js-header__close
		span.fal.fa-times
	.header__siteMenu__wrapper
		//- .header__information
		//- 	span.header__information__line
		//- 	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, non reiciendis! Recusandae officia veritatis mollitia magni odio velit aperiam qui voluptatum. A, voluptas! Maxime dolorum perferendis aut dolore labore dignissimos.