section.page-section.pd-70.contact-1
	.container
		.row.jc-c 
			.col-xl-11 
				.block-title
					h2.section-title.sub-title(data-wow-delay="0s") Contact Us
				.row
					.col-md-6
						form(action method)
							.form-group
								label.form-group__label Hotline
								a(href="tel:0906999258") 0906999258
							.form-group 
								label.form-group__label Your email address
								input.form-control(type="text" name="Email" placeholder="example@website.com")
								//- p.form-group__message 
								//- 	span.far.fa-exclamation-circle 
								//- 	| Error nè má
							.form-group 
								label.form-group__label Subject
								input.form-control(type="text" name="Subject" placeholder="Question about your article")
								//- p.form-group__message 
								//- 	span.far.fa-exclamation-circle 
								//- 	| Error nè má
							.form-group 
								label.form-group__label Message
								textarea.form-control.form-control--textarea(type="text" name="Message" placeholder="Your message starts with…")
								<span class="wpcf7-not-valid-tip" aria-hidden="true">The field is required.</span>
							.form-group
								button.btn.btn--primary.btn--submit
									span Submit
					.col-md-6
						.block-img 
							img.lazyload.blur-up(data-src="/images/contact-1.jpg")