footer {
	background-color: map-get($color, main);
	.footer-title {
		margin-bottom: 15px;
		font-size: 2.6rem;
		text-transform: uppercase;
	}
}
.footer-address {
	p {
		margin-bottom: 15px;
	}
	@media (max-width: 1024.98px) {
		text-align: center;
	}
}
.footer-logo {
	margin-top: 40px;
	img {
		width: 450px;
		max-width: 100%;
	}
	@media (max-width: 1024.98px) {
		text-align: center;
	}
}
.footer-form {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	.btn__white {
		span.far {
			margin-left: 5px;
		}
	}
	@media (max-width: 1024.98px) {
		margin-top: 40px;
		.form-group:last-child {
			text-align: center;
		}
	}
}
