* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility !important;
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 52.5%;

	@media (min-width: 768px) {
		font-size: 57.5%;
	}

	@media (min-width: 1200px) {
		font-size: 62.5%;
	}
}

body {
	background-color: darken(white, 4%);
}

main {
	transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	margin-top: 90px;

	&.is-pushed {
		transform: translateX(-290px);
	}

	@media (max-width: 1199.98px) {
		margin-top: 78px;
	}

	@media (max-width: 767.98px) {
		margin-top: 67px;
	}
}
.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(black, 0.85);
	opacity: 0;
	visibility: hidden;
	z-index: 999;
	transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);

	&.is-actived {
		opacity: 1;
		visibility: visible;
	}
}

.page-section {
	min-height: calc(100vh - 80px);
	display: flex;
	@media (max-width: 1199.98px) {
		min-height: calc(100vh - 70px);
	}
	@media (max-width: 767.98px) {
		min-height: calc(100vh - 60px);
	}
}

.block-img {
	text-align: center;
	img {
		max-width: 100%;
	}
}

.section-title {
	font-size: 3.2rem;
	font-weight: 600;
	line-height: 1.3;
	margin-bottom: 35px;
	padding-bottom: 15px;
	position: relative;
	&.underline {
		&:before {
			content: '';
			position: absolute;
			height: 2px;
			width: 60px;
			bottom: 0;
			background-color: map-get($color, main);
		}
	}
	&.underline-center {
		&:before {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&.underline-right {
		&:before {
			right: 0;
		}
	}
	&.underline-white {
		&:before {
			background-color: map-get($color, white);
		}
	}
	&.underline-black {
		&:before {
			background-color: map-get($color, black);
		}
	}
}
