@mixin img($ratio, $type) {
	padding-top: (1 / $ratio) * 100%;
	display: block;
	position: relative;
	img {
		object-fit: $type;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
