.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0.8rem 1.5rem;
	cursor: pointer;
	transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn__primary {
	background-color: map-get($color, main);
	color: map-get($color, white);
	&:hover {
		color: map-get($color, main);
		background-color: map-get($color, black);
	}
}
