section.page-section.our-works
	.container.pt-70.our-works-title
		.row.jc-c
			.col-lg-12
				h2.section-title.tt-u Brandings 
					br
					| on TikTok
	.our-works-wrapper
		.pd-70
			.container 
				.row.jc-c
					.col-lg-11
						article.row.ai-c.our-works-article
							.col-lg-4
								.block-img 
									img.lazyload.blur-up(data-src="./images/brandings/grabfood.png")
							.col-lg-1
							.col-lg-7
								.block-text
									h3 GrabFood & GrabMart 
										br
										| nCovid outbreak social campaign.
									img.lazyload.blur-up(data-src="/images/brandings/grabfood_1.png")
									p 
										b The result: 
									ul 
										li 330.000 engagements Facebook 
										li 13.000.000 views TikTok 
										li 700.000 views YouTube
										li 7.000.000 views Facebook
									p W Media & Entertainment collaborate with TikTok:
									a(href="#") Detail information 
										span.fal.fa-chevron-right
		.pd-70
			.container 
				.row.jc-c
					.col-lg-11
						article.row.ai-c.our-works-article
							.col-lg-4
								.block-img 
									img.lazyload.blur-up(data-src="./images/brandings/fami.png")
							.col-lg-1
							.col-lg-7
								.block-text
									h3 Fami
										br
										| Family day campaign on TikTok.
									img.lazyload.blur-up(data-src="/images/brandings/fami_1.png")
									p 
										b The result: 
									ul
										li 228.5M views on TikTok 
										li 35,082 creators joined in our campaign 
										li 39,834 videos creation 
									p W Media & Entertainment collaborate with TikTok: 
									a(href="#") Detail information 
										span.fal.fa-chevron-right